@model IEnumerable<MyContact.Models.ContactListViewModel>
@using MyContact.Repositories
@{
    ViewData["Title"] = "Contact List";
}
<div class="container mt-4">
    <h3>Contacts</h3>
    <div >
        <button id="btnAdd" class="btn btn-primary">Add</button>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Edit</th>
                <th width="60"></th>
                <th>Name</th>
                <th>Email</th>
                <th>Group</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>State</th>
                <th>City</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var contact in Model)
        {
                <tr style="vertical-align: middle;">
                    <td><a href="@Url.Action("Create","Contact" , new {id = contact.contact.c_contactId})" class="btn btn-sm btn-primary">Edit</a></td>
                    <td><img id="image" src="@(contact.contact.c_Image !=""?$"../../contact_images/{contact.contact.c_Image}": "../../contact_images/user.png")"
                    width="50" style="border-radius: 50%; width: 50px;height: 50px;"
                    
                    /></td>
                    <td>@contact.contact.c_contactName</td>
                    <td>@contact.contact.c_Email</td>
                    <td>@contact.contact.c_Group</td>                    
                    <td>@contact.contact.c_Address</td>
                    <td>@contact.contact.c_Mobile</td>
                    <td>@contact.c_statename</td>
                    <td>@contact.c_cityname</td>
                    <td>@contact.c_StatusName</td>
                    <td>
    <button class="btn btn-sm btn-danger btn-delete" data-id="@contact.contact.c_contactId">
        Delete
    </button>
</td>

                </tr>
        }
        </tbody>

    </table>
</div>
@section Scripts{
    
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("btnAdd").addEventListener("click", function () {
        window.location.href = "/Contact/Create"; // Redirect to Add Contact
    });

    // Handle Delete Confirmation
    document.querySelectorAll(".btn-delete").forEach(button => {
        button.addEventListener("click", function () {
            var contactId = this.getAttribute("data-id");
            
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/Contact/Delete?id=" + contactId;
                }
            });
        });
    });
});


</script>

}
